body {
    padding-top: 75px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
#browseButton {
    position: absolute;
    top:1em;
    right:10em
}
#captureMenuButton {
    position: absolute;
    top:1em;
    right:1em;
}
#resetButton {
    position: absolute;
    top:1em;
    left:1em;
}
#saveCanvasButton {
    position: absolute;
    top:1em;
    left:1em;
    visibility: collapse;
}
#instructions {
    position: absolute;
    bottom:1em;
    left: 1em;
}